<ion-view view-title="统计">
  <ion-content class="padding">
    <ion-refresher on-refresh="doRefresh()"
                   pulling-text="松开刷新"
                   refreshing-text="更新历史数据，稍后..."
                   refreshing-icon="ion-loading-b">
    </ion-refresher>

    <div class="button-bar">
      <button class="button icon-left ion-star button-assertive" ng-click="newPosition()">添加股票</button>
      <button class="button icon-left ion-star button-assertive" ng-click="newDKPosition()">添加多空</button>
    </div>

    <div class="list card">
      <div class="item item-divider">总市值</div>
      <div class="item item-body">
        <div style="color: blue;font-size: 26px">
          <b>{{tranItem.currMount}}</b> 元
        </div>

      </div>
    </div>


    <div class="list card">
      <div class="item item-divider">总盈亏</div>
      <div class="item item-body">
        <div ng-style="tranItem.changeColor">
          <b style="font-size: 22px">{{tranItem.currChange}}元 {{tranItem.currChangePercent}}%</b>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">今日盈亏</div>
      <div class="item item-body">
        <div ng-style="tranItem.currDayPriceColor">
          <b style="font-size: 22px">{{tranItem.currDayMount}}元 {{tranItem.currDayPercent}}%</b>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>


<script id="DKinit.html" type="text/ng-template">
  <div class="modal" style="width: 90%; height:80%;left: 10px;top: 15px;">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">多空建仓</h1>
      <button class="button button-clear button-positive" ng-click="closeParams()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form name="taskForm" ng-submit="saveDKPosition(position)">

        <div class="list">

          <label class="item item-radio">
            <input type="radio" name="DKType" value="878004" ng-model="position.code">

            <div class="item-content">
              创业板看涨
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>

          <label class="item item-radio">
            <input type="radio" name="DKType" value="878005" ng-model="position.code">

            <div class="item-content">
              创业板看跌
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <small class="error" style="color: red" ng-show="taskForm.DKType.$invalid">必选类型</small>

          <label class="item item-input item-stacked-label">
            <span class="input-label">买入比例 :</span>
            <input name="initPrcie" type="number" step="0.001" placeholder="买入价"
                   ng-model="position.initialPrice">
            <small class="error" style="color: red" ng-show="taskForm.initPrcie.$invalid">小数，最多3位</small>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">买入数量 :</span>
            <input name="initCount" type="number" step="100" placeholder="买入数量"
                   ng-model="position.initialCount">
            <small class="error" style="color: red" ng-show="taskForm.initCount.$invalid">整数，100的倍数</small>
          </label>

        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">确认</button>
        </div>
      </form>

    </ion-content>
  </div>
</script>
