<ion-view view-title="多空">
  <ion-content>


    <div id="rightDisplay" ng-if="bigImage" class="popover-backdrop" style="background-color:ghostwhite"
         ng-click="hideBigImage()">
      <div class="row">
        <div class="col col-80">
          <img ng-if="bigImage" class="ion-image" style="width:100%"
               src="{{bigImageUrls[0]}}"/>
        </div>
      </div>
      <div class="row">
        <div class="col col-80">
          <img ng-if="bigImage" class="ion-image" style="width:100%"
               src="{{bigImageUrls[1]}}"/>
        </div>
      </div>
      <div class="row">
        <div class="col col-80">
          <img ng-if="bigImage" class="ion-image" style="width:100%"
               src="{{bigImageUrls[2]}}"/>
        </div>
      </div>

    </div>


    <ion-list>
      <div class="item item-divider">
        沪深300
      </div>

      <div class="button-bar">
        <a class="button" ng-click="open300k();"
           type="item-text-wrap">行情
        </a>
        <a class="button" ng-click="open_878002();"
           type="item-text-wrap">看涨
        </a>
        <a class="button" ng-click="open_878003();"
           type="item-text-wrap">看跌
        </a>
      </div>

      <div class="item item-divider">
        创业版
      </div>
      <div class="button-bar">
        <a class="button" ng-click="openCYK();"
           type="item-text-wrap">行情
        </a>
        <a class="button" ng-click="open_878004();"
           type="item-text-wrap">看涨
        </a>
        <a class="button" ng-click="open_878005();"
           type="item-text-wrap">看跌
        </a>
      </div>
      <div class="item item-divider">
        上证50
      </div>
      <div class="button-bar">
        <a class="button" ng-click="open50k();"
           type="item-text-wrap">行情
        </a>
        <a class="button" ng-click="open_878006();"
           type="item-text-wrap">看涨
        </a>
        <a class="button" ng-click="open_878007();"
           type="item-text-wrap">看跌
        </a>
      </div>
      <div class="item item-divider">
        中证500
      </div>
      <div class="button-bar">
        <a class="button" ng-click="open500k();"
           type="item-text-wrap">行情
        </a>
        <a class="button" ng-click="open_878008();"
           type="item-text-wrap">看涨
        </a>
        <a class="button" ng-click="open_878009();"
           type="item-text-wrap">看跌
        </a>
      </div>
      <div class="item item-divider">
        上证
      </div>
      <div class="button-bar">
        <a class="button" ng-click="open_sh000001k();"
           type="item-text-wrap">行情
        </a>
      </div>
      <div class="item item-divider">
        深证
      </div>
      <div class="button-bar">
        <a class="button" ng-click="open_sz399001k();"
           type="item-text-wrap">行情
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
