<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>

  <script src="js/controllers.js"></script>

  <script src="js/services.js"></script>
</head>
<body ng-app="zeus" ng-controller="TodoController" ng-cloak>

<ion-side-menus>

  <!-- Center content -->
  <ion-side-menu-content>

    <ion-header-bar class="bar-dark">

      <button class="button button-icon" ng-click="toggleLeft()">
        <i class="icon ion-navicon"></i>
      </button>


      <h1 class="title" align="center">{{activePosition.title}}</h1>


      <button class="button button-clear" align="right" ng-click="toggleRight()">
        <i class="icon ion-navicon"></i>
      </button>

    </ion-header-bar>

    <ion-content>
      <ion-refresher on-refresh="doRefresh()"
                     pulling-text="松开刷新"
                     refreshing-text="更新历史数据，稍后..."
                     refreshing-icon="ion-loading-b">
      </ion-refresher>

      <div id="rightDisplay" ng-if="bigImage" class="popover-backdrop"
           style="position: fixed;top: 0;left: 0;z-index: 10; width: 100%;height: 100%;"
           ng-click="hideBigImage()">
        <img class="ion-image"
             style="position: absolute;top: 10%;left: 1%;z-index: 10;display: block;margin-top: 18px;
         margin-left: 1px;width: 99%; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);background-color:ghostwhite"
             src="{{bigImageUrl}}"/>
      </div>

      <div class="item">

        <button class="button item-button-left"
                ng-click="newTask()">参数维护
        </button>

        <button class="button button-royal"
                ng-click="openDayGif(activePosition.code)">日线
        </button>

        <button class="button button-royal" ng-click="openMinGif(activePosition.code)">分时线</button>


      </div>


      <ion-list>

        <ion-item>
          <h2 style="color:lightblue">实时信息 —— </h2>

          <li>{{activePosition.title}}({{activePosition.code}})
            <b ng-style="activePosition.currPriceColor">{{activePosition.currMount}}元</b>
          </li>


          <li ng-style="activePosition.currPriceColor">
            现价：{{activePosition.currPrice}} ({{activePosition.currChangePercent}}%
            {{activePosition.currChange}}元)
          </li>

          <li ng-style="activePosition.currHighPriceColor">
            止盈价：{{activePosition.realhighStopPrice}} (atr：{{activePosition.currATR}})
          </li>
          <li ng-style="activePosition.currHighPriceColor">
            最高价：{{activePosition.highestPrice}}
          </li>


          <li>今开：{{activePosition.todayStart}} 昨收：{{activePosition.yestodayEnd}}</li>

        </ion-item>

        <ion-item>
          <p style="color:darkgreen">止损：{{activePosition.lowStopPrice}}元 ( R =
            {{activePosition.stopFund}})</p>
        </ion-item>


        <ion-item>
          <p style="color:palevioletred">第一止盈 2R(0.5Am*atr)：{{activePosition.highStopPrice1}}元</p>

          <p style="color:darkred">第二止盈 4R(0.4Am*atr)：{{activePosition.highStopPrice2}}元</p>

          <p style="color:red">第三止盈 6R(0.3Am*atr)：{{activePosition.highStopPrice3}}元</p>
        </ion-item>

        <ion-item>
          <h2 style="color:blue">买入后参数 —— </h2>
          <li>买入价：{{activePosition.initialPrice}}元</li>
          <li>买入数量：{{activePosition.initialCount}}(股)</li>
        </ion-item>

        <ion-item>
          <p style="color:darkgoldenrod">建议仓位：{{activePosition.advicePosition}}股 -
            {{activePosition.advicePosFund}}元</p>
        </ion-item>

        <ion-item>
          <h2 style="color:blue">买入前参数 —— </h2>
          <li>总资金：{{activePosition.totalFund}}元</li>
          <li>建仓ATR-14：{{activePosition.initialATR}}</li>
          <li>仓位风险系数：{{activePosition.positionRC}}%</li>
          <li>止损振幅倍数： {{activePosition.stopAM}}</li>
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">

    <ion-header-bar class="bar-dark">
      <h1 class="title">已建</h1>
      <button class="button button-icon ion-plus" ng-click="newPosition()">
      </button>
    </ion-header-bar>

    <ion-content>
      <ion-refresher on-refresh="refreshAll()"
                     pulling-text="松开刷新"
                     refreshing-text="更新历史数据，稍后..."
                     refreshing-icon="ion-loading-b">
      </ion-refresher>


      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="position in positions"
                  ng-class="{active: activePosition == position}" ng-click="selectPosition(position, $index)"
                  type="item-text-wrap">
          <!--<img ng-src="{{chat.face}}">-->

          <h2>{{position.title}}({{position.code}})</h2>

          <p ng-style="position.currPriceColor">
            {{position.currPrice}}-{{position.initialPrice}}(atr:{{position.currATR}})</p>

          <p ng-style="position.currDayPriceColor">当日 {{position.currDayChangePercent}}% {{position.currDayChange}}元
          </p>

          <p ng-style="position.currPriceColor">共 {{position.currChangePercent}}% {{position.currChange}}元
          </p>


          <p ng-style="position.currHighPriceColor">
            止盈价：{{position.realhighStopPrice}}
          </p>

          <p ng-style="position.currHighPriceColor">
            最高价：{{position.highestPrice}}
          </p>

          <p>
            <b style="color: darkgreen">{{position.lowStopPrice}}</b>

            <b style="color:palevioletred">{{position.highStopPrice1}}</b>

            <b style="color:darkred">{{position.highStopPrice2}}</b>

            <b style="color:red">{{position.highStopPrice3}}</b>
          </p>

          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="delPosition(position, $index)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-dark">
      <h1 class="title">多空行情</h1>

    </ion-header-bar>

    <ion-content>
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="open300();"
                  type="item-text-wrap">沪深300-实时
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="open300k();"
                  type="item-text-wrap">沪深300-日k
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="open_878002();"
                  type="item-text-wrap">沪深300-看涨
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="open_878003();"
                  type="item-text-wrap">沪深300-看跌
        </ion-item>

        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="openCY();"
                  type="item-text-wrap">创业版-实时
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="openCYk();"
                  type="item-text-wrap">创业版-日k
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="open_878004();"
                  type="item-text-wrap">创业版-看涨
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="open_878005();"
                  type="item-text-wrap">创业版-看跌
        </ion-item>

        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="open50();"
                  type="item-text-wrap">上证50-实时
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="open50k();"
                  type="item-text-wrap">上证50-日k
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="open_878006();"
                  type="item-text-wrap">上证50-看涨
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="open_878007();"
                  type="item-text-wrap">上证50-看跌
        </ion-item>

        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="open500();"
                  type="item-text-wrap">中证500-实时
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="open500k();"
                  type="item-text-wrap">中证500-日k
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="open_878008();"
                  type="item-text-wrap">中证500-看涨
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="open_878009();"
                  type="item-text-wrap">中证500-看跌
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<script id="new-task.html" type="text/ng-template">
  <div class="modal" style="width: 90%; height:80%;left: 10px;top: 15px;">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">参数维护</h1>
      <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form name="taskForm" ng-submit="createTask(activePosition)">
        <p style="color:dimgrey">买入前参数</p>

        <div class="list">
          <label class="item item-input">
            <span class="input-label">建仓ATR-14 :</span>
            <input name="totalFund" type="text" readonly placeholder="计算推荐仓位" ng-model="activePosition.currATR">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">总资金 :</span>
            <input name="totalFund" type="number" step="1000" placeholder="计算推荐仓位" ng-model="activePosition.totalFund">
            <small class="error" style="color: red" ng-show="taskForm.totalFund.$invalid">整数，1000的倍数</small>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">仓位风险系数(%) :</span>
            <input name="posRC" type="number" step="0.01" placeholder="计算推荐仓位" ng-model="activePosition.positionRC">
            <small class="error" style="color: red" ng-show="taskForm.posRC.$invalid">小数，最多2位</small>

          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">止损振幅倍数 :</span>
            <input name="stopAM" type="number" step="0.1" placeholder="计算仓位、止损线，推荐2.3~3"
                   ng-model="activePosition.stopAM">
            <small class="error" style="color: red" ng-show="taskForm.stopAM.$invalid">小数，最多1位</small>

          </label>

        </div>
        <p style="color:dimgrey">买入后参数</p>

        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">买入价 :</span>
            <input name="initPrcie" type="number" step="0.001" placeholder="买入价" ng-model="activePosition.initialPrice">
            <small class="error" style="color: red" ng-show="taskForm.initPrcie.$invalid">小数，最多3位</small>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">买入数量 :</span>
            <input name="initCount" type="number" step="100" placeholder="买入数量" ng-model="activePosition.initialCount">
            <small class="error" style="color: red" ng-show="taskForm.initCount.$invalid">整数，100的倍数</small>
          </label>

        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">更新</button>
        </div>
      </form>

    </ion-content>
  </div>
</script>

</body>
</html>
